<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {{if eq . "home"}} class=" active" {{end}}>
            <a href="/home"><i class="fa fa-fw fa-dashboard"></i> Home </a>
        </li >
        <li {{if eq . "forms"}} class=" active" {{end}}>
            <a href="/forms"><i class="fa fa-fw fa-edit"></i> Forms</a>
        </li>
        <li {{if eq . "clients"}} class=" active" {{end}}>
            <a href="/clients"><i class="fa fa-fw fa-edit"></i> Clients</a>
        </li>
        <li {{if eq . "newClient"}} class=" active" {{end}}>
            <a href="/newClient"><i class="fa fa-fw fa-edit"></i> Create New Client</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
