<!DOCTYPE html>
<html lang="en">
{{template "_head.html" .Title}}
<body>

    <div id="wrapper">

      {{template "_header.html" .Active}}
        <div id="page-wrapper">

            <div class="container-fluid">

                  <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Last Transaction</th>
                              <th>Date</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>

                      {{range .Clients}}
                          <tr>
                              <td><a href="#" onclick="getClient({{.Id}})">{{.FirstName}} {{.LastName}}</a></td>
                              <td onclick="getClient({{.Id}})">{{.LastTransaction}}</td>
                              <td>{{.TransactionDate}}</td>
                              <td >
                                <div style="float:right;">
                                  <a class="btn btn-default glyphicon glyphicon-pencil" href="/update/{{.Id}}"></a>
                                  <button class="btn btn-danger glyphicon glyphicon-remove" onclick="deleteConfirmation({{.Id}})"></button>
                                </div>
                              </td>
                          </tr>

                      {{end}}
                    </tbody>
                </table>
                <div id="tempModal"></div>
              </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

        <div id="deleteModalContainer"></div>
    </div>
    <!-- /#wrapper -->

    {{template "_footer.html"}}

</body>

</html>
