<!DOCTYPE html>
<html lang="en">
{{template "_head.html" .Title}}
<body>

    <div id="wrapper">

      {{template "_header.html" .Active}}
        <div id="page-wrapper">

            <div class="container-fluid">

              {{range .Forms}}
                <div>
                  <h1><a href="client/{{.Id}}">{{.Title}}</a></h1>
                  <p>{{.Content}}</p>

                </div>

              {{end}}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

  {{template "_footer.html"}}

</body>

</html>
